header {
  background-color: #00587c;
  text-align: center;
  padding: 20px;
}

body {
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom, #0077b6, #00587c);
  font-family: Arial, sans-serif;
  color: white;
  margin: 0;
  padding: 0;
}

/* container */
.column {
  text-align: center;
}

h1 {
  font-size: 36px;
}

#main-body {
  padding: 2em 0;
}

#travelheader {
  font-size: 30px;
  text-align: left;
}

#map {
  height: 400px;
  width: 100%;
  color: black;
}
.searchField {
  text-align: center;
}

#search-results {
  padding: 20px;
}

h2 {
  font-size: 40px;
}
h3 {
  font-size: 30px;
}
ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

/* button {
  background-color: #0096c7;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
} */

#foodButton {
  color: #f2f0f5;
  /* background-color: #3dade9; */
}

#locations {
  height: 20em;
  overflow-y: scroll;
  background-color: white;
}

button:hover {
  background-color: #0077b6;
}

footer {
  margin-top: auto;
  width: 100%;
  background-color: #3dade9;
  color: white;
  text-align: center;
  font-size: 25px;
}
